// colours
$bglightGrey: rgba(230, 230, 230, 0.7);
$bgGrey: rgba(210, 210, 210, 0.8);
$bgDarkGrey: rgba(210, 210, 210, 1);
$activeRed: rgba(228, 36, 36, 0.8);
$activeRedTrans: rgba(228, 36, 36, 0);
$noteGrey: rgba(200, 200, 200, 0.9);
$noteGreen: rgba(100, 255, 149, 0.8);

$scale: calc(2px + 0.5vw);
